# Python 3.13; development env for topic 02.
# Platform-specific wheels are selected by pip; no notebook packages are needed.
alabaster==1.0.0
babel==2.18.0
certifi==2026.7.22
cfgv==3.5.0
charset-normalizer==3.5.1
cloudpickle==3.1.2
distlib==0.4.3
docutils==0.22.4
filelock==3.32.7
identify==2.6.19
idna==3.20
imagesize==2.0.1
iniconfig==2.3.0
jinja2==3.1.6
joblib==1.6.0
markupsafe==3.0.3
narwhals==2.26.0
nodeenv==1.10.0
numpy==2.5.2
packaging==26.3
pandas==3.0.5
platformdirs==4.11.11
pluggy==1.6.0
pre-commit==4.6.2
pre-commit-hooks==6.0.0
pyarrow==25.0.1
pygments==2.21.0
pytest==9.1.1
python-dateutil==2.9.0.post0
python-discovery==1.6.1
pyyaml==6.0.3
requests==2.34.2
roman-numerals==4.1.0
ruamel-yaml==0.19.1
ruff==0.16.8
scikit-learn==1.9.0
scipy==1.18.1
setuptools==84.0.0
six==1.17.0
snowballstemmer==3.1.1
sphinx==9.1.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
threadpoolctl==3.7.0
urllib3==2.8.0
virtualenv==21.9.0
wheel==0.48.0
